header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
header h1 {
    color: #8FBC8F;
    font-size: 55px;
}
header nav {
    margin: 10px 25px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
header nav ul li {
    padding: 10px 25px;
    font-size: 25px;
}
header a {
    text-decoration: none;
    color: #8FBC8F;
}
#selfie {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

body {
    background-color: #F0FFFF;
}
h2 {
    font-size: 55px;
}
#about-me {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#my-work {
    flex: 1 100%;
    text-align: center;
    justify-content: center;
}
#lets-talk {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.hero-pic {
    height: 400px;
    width: 400px;
    border-radius: 10%;
}
.container {
    position: relative;
    text-align: center;
    color: #8FBC8F;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.horiseon-pic, .doggie-pic {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    display: inline-block;
}
p, address {
    font-size: 17px;
    text-decoration: none;
    color: #8FBC8F;
}
@media screen and (max-width: 980px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 575px) {

}