header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
header nav {
    margin: 10px 25px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li {
    padding: 10px 25px;
}
section img {
    height: 200px;
    width: 200px;
}
#about-me {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}